body {
    font-family: 'Blinker', sans-serif;
    margin: 0;
    padding:0;
}

.card {
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
    background: #111d4a;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.card-img {
    object-fit: cover;
    flex-basis: 200px;
    min-width: 0;
    min-height: 0;
}

.card-title {
    color: #05cbe9;
    font-size: 1.75rem;
    margin: 0;
}

.card-content{
    padding: 1.25em;
}

.card-body {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3em;
}

.card-btn {
    font-size: 1.25rem;
    background: #05cbe9;
    color: #111d4a;
    text-decoration: none;
    font-weight: 700;
    padding: 0.25em 0.75em;
    letter-spacing: 1.5px;
    border-radius: 2px;
}

.card-btn:hover{
    
    background: #111d4a;
    color: #05cbe9;
    border: 1px solid #05cbe9;
    
}

.card-read-time {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 50px;
}

.card-read-time span {
    font-weight: 700;
    /* display: block; */
    font-size: 1.25em;
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }
    
    .card-img {
        width: 150px;
    }

    .card-read-time {
        flex-direction: row;
        max-width: 200px;
        align-items: center;
    }

    .card-read-time > span {
        margin-right: 5px;
    }

    .card-content {
        display: flex;
        flex-direction: column;
    }

    .card-footer {
        margin-top: auto;
    }
}


/* COLOR PICKER */

.section-title {
    text-align: center;
    margin: 0 auto;
    font-size: 5rem;
}
.color-form {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.color-picker {
    display: none;
    height: 100vh;
    flex-wrap: wrap;
}

.color {
    height: 10%;
    width: 10%;
    overflow: hidden;
}

.color-counter {
    width: 200px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 5rem;
    text-align: center;
}

.get-color-btn {
    width: 200px;
    padding: 0.75em 1.5em;
    margin-bottom: 1em;
    border: none;
    
}

/* PHOTO GRID */

.photo-grid {
    display:flex;
    margin-top: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.my-photo {
    border: 0.1rem solid white;
    border-radius: 0.75rem;
    margin: 1rem;
}

.my-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ON LINE USERS */

.my-online-user {
    background-color: lightgreen;
    font-size: 1.5rem;
    width: fit-content;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border: 0.1rem solid black;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

.user-username {
    font-family: "Lucida Console", Monaco, monospace;
    order: 1;
}

.user-online {
    order: 0;
    margin: 0 1rem;
    height: 1rem;
    width: 1rem;
    background-color: green;
    border-radius: 50%;
}

/* USER PROFILE */

.user-profile-container {
    font-family: "Lucida Console", Monaco, monospace;
}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100vh; */
}

.user-profile-header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.user-profile-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgoldenrodyellow;
    margin: 0.3rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
}

.user-profile-company > div {
    margin: 0.3rem;
    font-size: 1.1rem;
}

.user-profile-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    background-color: lightgreen;
    border: 0.1rem solid black;
}

.user-profile-contact > div {
    margin: 0.3rem;
}

.user-profile-address {
    display: flex;
    font-size: 1.1rem;
    background-color: aquamarine;
    padding: 0.3rem;
}